/* Estilos del header y generales */
body {
    font-family: 'Poppins', sans-serif; /* Fuente de la tipografia */
    max-width: 900px; /* Ancho maximo */
    margin: 0 auto; /* Margen */
}
nav{
    width: 100%; /* Ancho */
    height: 160px;/* Alto */
    background-color: white; /* Color de fondo */
}

nav ul li{
    list-style-type: none;
    display: inline-block; 
    transition: 0.8s all;
    padding: 18px 20px;
}

nav ul li:hover{ /* Este es para hacer la transición de color*/
    background-color: rgb(248, 209, 255);
}

.img-logo{
    width: 160px;/* Ancho */
    padding: 10px;
    padding-right: 5%;
}

nav ul{
    
    display: inline-flex;
    position: relative;
    top: -50px;
}
nav ul li a{
    text-decoration: none; /* Decoración dde texto */
    color: black; /* Color de letra */
}

h2,h4,figure,ul{
    margin: 0;
}

img{
    max-width: 100%;
}

/* Estilos de la SECCION 1 */

.seccion1{
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    background-color: rgb(239, 239, 239);
    width: 800px;
    vertical-align: top;
    text-align: center;
    padding: 50px;
    padding-top: 0%;
}

article{
    padding: 50px;
}


/* Estilos de la SECCION 2 */



/* Estilos de la SECCION 3 */

.seccion3{
    background-color: rgb(239, 239, 239);
}

.textoprincipal{
    display: flex;
    justify-content: center;
}

.texto{
     display: flex;
     justify-content: space-between;
}

.youtube{
    padding-right: 3%;
    max-width: 50%;
}
.video{
    max-width: 100%;
} 

/* Boton del videos */

.botonvideos{
    text-align: center; /* Alinear el texto */
    background-color: rgb(124, 40, 202);
    padding: 8px;
}

.botonvideos a{
    text-decoration: none;
    color: white;
}

.botonvideos:hover{
    background-color: rgb(47, 57, 200);
     }

article{
    padding: 50px;
      }

/* Pie de pagina */

footer{
    background-color: white; /* Color de fondo */
    color: black;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}

footer div a{
    text-decoration: none;
    color: black;
}


